@media(min-width: 768px) {

 }

p{
 font-family:'Hind Siliguri';
}

img{
 max-width:100%;
 
}


.background_image{
  background: url('./images/bg-curvy-mobile.svg') bottom/cover hsl(218, 28%, 13%) ;
  background-size:cover;
  background-position:bottom;
  background-blend-mode:soft-light;
}

.image{
 width:35px;
 height:auto;
}

.nav-nav{
 color:rgb(140, 138, 138);
}

.nav-nav:hover{
 color:white;
 cursor:pointer;
 text-decoration: underline;
 font-weight:bold;
}

.Section5{
background-color:hsl(219, 30%, 18%);
z-index:150px;
}

.quotes{
 width:35px
}

.Secondary-text{
font-size:12px;
}

.Container-absolute{
 position:relative;
 background-color: hsl(216, 53%, 9%);
 padding-top:90px;
}

.location{
height:13px;
}

.footer-text{
 position:relative;
font-size:12px;
margin-bottom:0px;
}
.footer-text:hover{
 cursor:pointer;
 font-weight:bold;
}

.call-icon{
 height:13px
}

.footer-calltext{
 font-size:12px;
 padding-top:7px;
 margin-bottom:5px;
}

.email-icon{
 height:13px
}

.footer-emailtext{
 font-size:12px;
}

.flex-footer{
width:100%;

}

.flex-footer:hover{
 cursor:pointer;
 font-weight: bolder;
}

.footer-choice{
font-size:12px;
padding-right:20px;
padding-bottom:20px;
padding-left:20px;
}

.footer-choice:hover{
 cursor:pointer;
}

.footer-choice-2{
 font-size:12px;
 padding-left:20px;
 }

.get-font{
 font-size:xx-small;
 height:40px;
 width:500px;
}

/* .quote{
margin-top: 44px;
margin-left:55px;

} */

.recommendations{
z-index:100;
}
.input-o{
 height:30px;
 font-size:10px
}
.Card-design{
 background-color: hsl(217, 28%, 15%);
 padding:7px; 
 z-index:100;
}

.section-absolute{
 position:relative;

}

.hover-design{
list-style:none;
color:hsl(198, 78%, 67%);
text-decoration:underline;
}

.hover-design:hover{
text-decoration:underline;
color:hsl(0, 0%, 100%);
cursor: pointer;
}

.first-column{
background-color: hsl(216, 53%, 9%);
list-style:none;
margin-bottom:5px;
}
.first-column-2{
 background-color: hsl(216, 53%, 9%);
 list-style:none;
 }

 .footer-location{
  list-style:none;
  margin-left:9px;
  margin-right:20px;
  width:18px;
  height:3px;
 }

 .FTI{
  color:rgb(255, 255, 255);
  border-style:solid;
  border-width: 1px;
  border-color:hsl(0, 0%, 100%);
 }
 .FTI:hover{
  color:hsl(198, 78%, 67%);
  border-style:solid;
  border-width: 1px;
  border-color:hsl(198, 78%, 67%);
  cursor:pointer;
 }

 .IC-arrow:hover{
  cursor: pointer;
 }

 .btn-class:hover{
  background-color: rgb(27, 231, 231);
 }

 .img-con{
  width:35px;
  padding:0px;
  margin:0px;
 }